.review-container {
  display: grid;
  grid-template-columns: repeat 300px (4, 200px);
  grid-template-rows: 100px 400px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 90%;
  height: 200px;
  background-color: lightcoral;
  border-radius: 20px;
  margin: 10px;
}

.header {
    margin-left: 20px;
    grid-area: 1 / 1 / 2 / 3 ;
}

.name {
    display: flex;
    position: relative;
    
}
.stars{
    display: flex;
    position: relative;
    left: 50px;

}
.review-date{
    display: flex;
    margin-bottom: 10px;
    position: relative;

}

/* .name {
    margin-left: 20px;
    grid-area: 1 / 1 / 2 / 2;
}

.stars{
    margin-left: 10px;
    grid-area: 1 / 2 / 2 / 3;
}

.review-date {
    margin-left: 50px;
    grid-area: 2 / 1 / 3 / 2;
} */

 .review {
   margin-left: 20px;
    grid-area: 2 / 1 / 3 / 6;
   font-family: Montserrat;
   font-size: 17px;
}

.edit-button {
    margin-top: 20px;
    margin-right: 20px;
    grid-area: 1 / 5 / 2 / 6;
}


.star-one input[type="radio"]{
    visibility: hidden;
}

.star-two input[type="radio"]{
    visibility: hidden;
}
.star-three input[type="radio"]{
    visibility: hidden;
}
.star-four input[type="radio"]{
    visibility: hidden;
}
.star-five input[type="radio"]{
    visibility: hidden;
}
