.preview-image {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding: auto;
    justify-content: center;
}

.delete-btn {
    display: block;
    margin: auto;
    color: white;
    background-color: #f44949;
    font-size: 12px;
    border: none;
}


.price {
    display: block;
    margin: auto;
}

.preview-image {
    border-radius: 5px;
}

.edit-page-btn {
    margin-left: 20px;
    margin-top: 25px;
    background:linear-gradient(120deg, #fd5c63, #c30b03);
    border: none;
    color: white;
    font-size: 12px;
    padding: 20px 30px;
    background-size: 125% 125%;
    border-radius: 10px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    cursor: pointer;

}

.name-title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 35px;
    margin-left: 40px;
}

.address-line {
    font-family: Montserrat;
    font-weight: normal;
    text-decoration: underline;
    margin: 10px;
}

.total-reviews {
    margin: 10px;
    font-family: Montserrat;
    font-weight: normal;
    text-decoration: underline
}

.seperation {
    color: gray;
    font-weight: 900;
}

.page-container {
    width: 60%;
    justify-content: center;
    margin: auto;
}


.heading-for-owner {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 25px;
    margin-left: 40px;
}

.owner-heading {
     border-bottom: 1px solid lightgrey;
}

.house-info {
    margin-left: 40px;
    margin-bottom: 40px;
}


.profile {
    position: relative;
    left: 500px;
    bottom: 40px;
}
