.preview-image {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: auto;
    justify-content: center;
}

.delete-btn {
    display: block;
    margin: auto;
    color: white;
    background-color: #f44949;
    font-size: 12px;
    border: none;
}
