.footer-container {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: center;
}

.github-link .linked-in-link{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.thelinkedin .thegithub {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
}

href {
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20px;
}
