.nav-bar {
  border-bottom: 1px solid lightgrey;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-bar .login-logout {
  padding: 10px;
}

.become-host h4{
  color: #484848;
  text-decoration: none;
  font-family: Tahoma;
  font-weight: bolder;
  position: relative;
  left: 50%;
  right: 50%;
}

.airbnb-logo-main {
  margin-top: 10px;
  width: 32px;
  height:auto;
}
