.nav-bar {
  border-bottom: 1px solid lightgrey;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-bar .login-logout {
  padding: 10px;
}

.become-host h4{
  color: #484848;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: bolder;
}
