.default-profile {
    width: 28px;
    height: auto;
    margin-left: 15px;
    margin-top: 4px;
    margin-right: 2px;
    margin-bottom: 4px;
}

.home-profile-button, .home-profile-button:visited, .home-profile-button:hover, .home-profile-button:focus, .home-profile-button:active {
    text-decoration: none;
    color: black;
}


.flyout {
    display: flex;
    background: white;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border: 1px lightgray solid;
}

.flyout:hover {
      box-shadow: 0 3px 5px -3px lightslategray;

}

.hamburger {
    font-size: 15px;
    margin-left: 9px;
    margin-top: 4px;
    margin-bottom: 4px;
}


.profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 70px;
    right: 18px;
    gap: 10px;
    border: 1px lightgray solid;
}

.profile-btn-logout {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: linear-gradient(120deg, #fd5c63, #861657);
  border: none;
  color: white;
  font-size: 10px;
  padding: 15px 10px;
  border-radius: 20px;
  font-family: Montserrat;
  font-weight: 600;
  cursor: pointer;
}

.users-email, .Home-btn-link, .my-spots-link {
    margin-top: 15px;
    margin-right: 30px;
    font-family: Tahoma;
    color: black;
}
